<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reverseWebProxy" type="Microsoft.Samples.ServiceBusReverseWebProxy.ReverseWebProxySection, ServiceBusReverseWebProxy" />
  </configSections>
  
  <!-- Add your Windows Azure Service Bus account information here -->

  <reverseWebProxy serviceNamespace="YOUR_NAMESPACE" issuerName="YOUR_ISSUER_NAME" issuerSecret="YOUR_SECRET" enableSilverlightPolicy="true">
    <pathMappings>
      <add namespacePath="mysite" localUri="http://localhost/mysite/" />
    </pathMappings>
  </reverseWebProxy>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>