<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="reverseWebProxy" type="Microsoft.Samples.ServiceBusReverseWebProxy.ReverseWebProxySection, ServiceBusReverseWebProxy" />
    </configSections>
    <!-- Add your .NET Services project account information here -->
    <!-- Create a project at http://portal.ex.azure.microsoft.com/ -->
    <reverseWebProxy netServicesProjectName="" netServicesProjectPassword=""
                     enableSilverlightPolicy="true">
    <pathMappings>
      <add namespacePath="mysite" localUri="http://localhost/mysite/" />
    </pathMappings>
  </reverseWebProxy>
</configuration>